/* Sakura.css v1.3.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */
/* Body */

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 100%;
  margin: auto;
  color: #4a4a4a;
  background-color: #ffffff;
  padding: 13px;
}
.nav-left-anchor {
  z-index: 10;
  color: black;
  font-weight: 500;
  text-align: left;
  width: 100px;
  height: 100px;
  background-color: white;
}
.nav-left-anchor:hover {
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-align: left;
  width: 100px;
  height: 100px;
  background-color: rgb(234, 234, 234);
}
.emoji {
  position: relative;
  top: 35px;
}
#content {
  margin-left: 425px;
  background-image: linear-gradient(
    rgba(11, 33, 74, 0.022) 2px,
    transparent 0px
  );
  background-size: 100% 1.1em;
  background-position-y: 32px;
  line-height: 1.1em;
}
@keyframes blinker {
  50% {
    opacity: 0%;
  }
}
.content-paragraph {
  background-color: rgb(255, 255, 255);
  color: rgb(67, 67, 67);
  padding: 10px;
  line-height: 1.6em;
  font-weight: 700;
}
#nav-left-square {
  margin-left: 23px;
  color: royalblue;
  font-size: 45px;
  text-shadow: 0 1px 0 #110736, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px, 0 10px 10px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(255, 255, 255, 0.5);
  transition: all 1s;
  border-radius: 10px;
  border: 7px double rgba(255, 255, 255, 0.131);
  z-index: 10;
}
#nav-left-square-shadow-blinker {
  animation: blinker 2.1s linear infinite;
  position: absolute;
  right: 10px;
  top: 17px;
  z-index: 1;
  opacity: 25%;
  color: royalblue;
  box-shadow: rgb(8, 3, 37) 7px 10px 10px 0px;
  border-radius: 6px;
}
#nav-left-header {
  left:48px;
  position: fixed;
  height: 130px;
  width: 359px;
  background-color: rgb(225, 225, 225);
  top: 12px;
  border-radius: 5px;
  z-index: 1;
}
#nav-left-item {
  background-color: #f9f9ff;
  border-radius: 10px;
  list-style: none;
  margin-top: 0px;
  padding: 15px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 80px;
  border-top-left-radius: 30px;
  transition: ease-in-out 0.6s;
  box-shadow: rgba(0, 0, 0, 0.11) 4px 5px 0px 0px;
}
#nav-left-item:hover {
  background-color: royalblue;
  border-radius: 10px;
  list-style: none;
  margin-top: 20px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 70px;
  border-bottom: white solid 90px;
  box-shadow: rgba(0, 0, 0, 0) 0px 2px 1px 0px;
  transition: all ease-in-out 0.6s;
}
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-right:10px;
  border-radius: 50px;
}
.svg-container {
  display: absolute;
  position: relative;
  width: 100%;
  padding-bottom: 26%;
  vertical-align: middle;
  overflow: hidden;
}
.nav-hidden-text {
  height: 40px;
  width: 300px;
  position: absolute;
  font-size: 12px;
  font-family: monospace;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0);
  margin-right: 5px;
  transition: all 0.1s;
  z-index: 0;
}
.nav-hidden-text:hover {
  font-weight: 600;
  position: absolute;
  color: black;
  transition: all 0.1s;
}
#nav-left-h2 {
  text-align: center;
  width: 290px;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 50px;
  color: white;
  font-family: "Fascinate", "cursive";
  font-size: 45px;
  color: #ffffff;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px, 0 10px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.5);
  margin-right: 20px;
  margin-left: 10px;
}

#nav-left {
  position: fixed;
  height: 96.3%;
  width: 23px;
  background-color: #f9f9ff;
  border-radius: 10px;
  overflow-y: scroll;
  color: white;
  list-style-type: none;
  font-weight: bold;
  font-size: larger;
  border-top-left-radius: 39%;
  transition: all 0.5s;
}
#nav-left:hover {
  background-color: #e8e8e8;
  border-top-left-radius: 0%;
  transition: all 0.6s;
  width: 420px;
  height: 96, 3%;
}
@media (max-width: 850px) {
  #nav-left-item {
    padding: 5px;
  }
  #nav-left-item:hover {
    padding: 5px;
  }
  #nav-left:hover {
    border-top-left-radius: 0%;
    transition: all 1s;
    width: 300px;
    height: 96, 3%;
  }
  #nav-left-header {
    width: 230px;
    height: 80px;
    padding: 0px;
    margin: 0px;
  }
  #nav-left-h2 {
    top: -20;
    font-size: 30px;
    left: 30px;
  }
  #nav-left-square {
    margin-left: 5px;
    color: royalblue;
    font-size: 35px;
  }
  #nav-left-square-shadow-blinker {
    animation: blinker 2.1s linear infinite;
    position: absolute;
    right: 60px;
    top: 17px;
    z-index: 1;
    opacity: 25%;
    color: royalblue;
    box-shadow: rgb(8, 3, 37) 7px 10px 10px 0px;
    border-radius: 6px;
  }
  #content {
    margin-left: 310px;
  }
  .nav-hidden-text {
    height: 40px;
    width: 200px;
    position: absolute;
    font-size: 11px;
    font-family: monospace;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0);
    margin-right: 5px;
    transition: all 0.1s;
    z-index: 0;
  }
  .nav-hidden-text:hover {
    font-weight: 600;
    position: absolute;
    color: black;
    transition: all 0.1s;
  }
  .nav-left-anchor {
    font-size: 20px;
  }
  #nav-left-item {
    margin-bottom: 10px;
  }
  #nav-left-item:hover {
    margin-bottom: 20px;
    border-bottom: rgb(255, 255, 255) solid 100px;
    box-shadow: rgba(0, 0, 0, 0.11) 4px 5px 0px 0px;
  }
}
@media (max-width: 550px) {
  body {
    font-size: 1.53rem;
    padding: 0px;
  }
  #nav-left {
    border-top-left-radius: 0px;
    top: 100px;
    width: 100%;
    height: 0px;
    z-index: 10;
    border-bottom: 5px solid rgb(168, 168, 168);
  }
  #nav-left:hover {
    border-top-left-radius: 0px;
    border-top-left-radius: 0%;
    transition: all 0.5s;
    width: 100%;
    height: 35%;
    top: 100px;
    z-index: 10;
  }
  br {
    display: none;
  }
  #content {
    margin-left: 10px;
    margin-top: 100px;
    z-index: 1;
  }
  #nav-left-h2 {
    width: 100%;
    z-index: 10;
    font-size: 90px;
    top: 10px;
    left: 0px;
    height: 60px;
    margin: 0px;
    padding: 0px;
  }
  #nav-left-square {
    margin-left: 23px;
    color: royalblue;
    font-size: 40px;
    text-shadow: 0 1px 0 #110736, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
      0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px, 0 10px 10px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(255, 255, 255, 0.5);
    transition: all 1s;
    border-radius: 10px;
    border: 7px double rgba(255, 255, 255, 0.131);
    z-index: 10;
  }
  #nav-left-square-shadow-blinker {
    visibility: hidden;
  }
  #nav-left-header {
    width: 100%;
    height: 100px;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left:0px;
  }
  #nav-left-item {
    background-color: #f9f9ff;
    border-radius: 10px;
    list-style: none;
    margin-top: 0px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 30px;
    transition: ease-in-out 0.6s;
    box-shadow: rgba(0, 0, 0, 0.11) 4px 5px 0px 0px;
  }
  #nav-left-item:hover {
    background-color: royalblue;
    border-radius: 10px;
    list-style: none;
    margin-top: 5px;
    padding-left: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-bottom: white solid 75px;
    box-shadow: rgba(0, 0, 0, 0.11) 4px 5px 0px 0px;
    transition: all ease-in-out 0.8s;
  }
  .nav-hidden-text {
    height: 40px;
    width: 85%;
    position: absolute;
    font-size: 11px;
    font-family: monospace;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0);
    margin-right: 5px;
    transition: all 0.3s;
    z-index: 0;
  }
  .nav-hidden-text:hover {
    font-weight: 600;
    position: absolute;
    color: black;
    transition: all 0.3s;
  }
  .emoji {
    z-index: 1;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(36, 37, 38, 0.062);
    border-radius: 00px;
    display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: royalblue;
    border-radius: 0px;
    display: none;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(50, 89, 204);
    border-radius: 0px;
    display: none;
  }
  ul {
    padding-left: 0px;
  }
  @media (max-width: 550px) {
    #nav-left-h2 {
      font-size: 40px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2.1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  margin: 70px 0px 70px 0px;
  border-radius: 10px;
  border: 3px dashed royalblue;
}

a {
  text-decoration: none;
}
ul {
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid royalblue;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}

blockquote p {
  margin-bottom: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

/* Pre and Code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
input,
textarea {
  border: 1px solid #4a4a4a;
}
input:focus,
textarea:focus {
  border: 1px solid #1d7484;
}

textarea {
  width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1d7484;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #1d7484;
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type="submit"]:focus:enabled,
input[type="submit"]:hover:enabled,
input[type="reset"]:focus:enabled,
input[type="reset"]:hover:enabled,
input[type="button"]:focus:enabled,
input[type="button"]:hover:enabled {
  background-color: #982c61;
  border-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}

textarea,
select,
input {
  color: #4a4a4a;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus,
select:focus,
input:focus {
  border: 1px solid #1d7484;
  outline: 0;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #1d7484;
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
/* width */
::-webkit-scrollbar {
  width: 24px;
  border-radius: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(36, 37, 38, 0.062);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: royalblue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(50, 89, 204);
  border-radius: 10px;
}
